body {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 20px;
  margin: 0;
  font-family: sans-serif;
  background-color: #fdfdfd;
}

header, footer {
  text-align: center;
}

.puzzle-image {
  display: grid;
  grid-template-columns: repeat(3, 100px); /* 3 columns */
  grid-template-rows: repeat(3, 100px);    /* 3 rows */
  gap: 10px;
  justify-content: center;
}

.puzzle-piece {
  width: 100px;
  height: 100px;
}

.puzzle-piece img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
